<%- include('header', {title: `Managers Debts: ${managerData.managerName}`}) -%>

	<div class="container mt-2">
			<div class="row">
				<div class="col-4">
					<%- include('managersList') -%>
				</div>
				<div class="col-8">
					<%- include('managerDebts') %>
				</div>
			</div>

	</div>

<%- include('footer') %>
